* {
    /* border: solid red; */
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0px;
    height: 40px;
    z-index: 1;
}

body {
    background-color: rgb(75, 197, 245);
}

#signinfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
}

#mapimg1 {
    height: 200px;
    width: 100%;
    padding: 10px;
}

#footer-list {
    list-style-type: none;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

#footer-locations {
    list-style-type: none;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

#signoutfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
}

#mapimg2 {
    height: 200px;
    width: 100%;
    padding: 10px;
}

#mainpagefooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
}

#pricingpagefooter {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

#aboutpagefooter {
    position: fixed;
    bottom: 0;
    width: 100vw;
}